*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: block;
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
  
*::-webkit-scrollbar-thumb {
  background-color:lightgray;
  border-right: none;
  border-left: none;
}

*::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px; 
}

*::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}